%div
  = form_with model: @user, local: true do |f|
    %p
      = f.label :name
      = f.text_field :name
    %p
      = f.label :mail
      = f.text_field :mail
    %p
      = f.label :password
      = f.password_field :password
    %p
      = f.label :password_confirmation
      = f.password_field :password_confirmation
    %p
      = f.label :affiliation_id
      = f.collection_select :affiliation_id, Affiliation.all, :id, :name, :include_blank => true
    %p
      = f.label :admin
      = f.select :admin, [["一般", false],["管理者", true]]
    %p
      = f.submit