%h1 ユーザー一覧
%table
  %thead
    %tr
      %th
        ID
      %th
        名前
      %th
        Mail
      %th
      %th
  %tbody
    - @users.each do |f|
      %tr
        %td
          = f.id
        %td
          = f.name
        %td
          = f.mail
        %td
          = f.affiliation.name
        %td
          = link_to '編集', edit_user_path(f)
        %td
          = link_to '削除', f, method: :delete, data: { confirm: t('.delete_confirm') }