%h1 ユーザー一覧
%table
  %thead
    %tr
      %th ID
      %th 名前
      %th email
      %th 所属
      %th 管理者権限
  %tbody
  - @users.each do |t|
    %tr
      %td= t.id
      %td= t.name
      %td= t.email
      %td= t.affiliation.name
      %td
        - if t.admin == true
          管理者
        -else 
          一般
      %td= link_to '編集', edit_user_path(t)
      %td= link_to '削除', t, method: :delete, data: { confirm: t('.delete_confirm') }