%h1.text-center.mt-5.col-12 勤務状況一覧
%p.text-center.col-12 #{@year}年#{@month}月#{@day}日 #{%w(日 月 火 水 木 金 土)[Date.current.wday] + '曜日'}
%table.table.table-bordered.table-condensed.text-center
  %thead.bg-dark.text-white
    %th 名前
    %th 勤務状況
    %th 出勤時間
    %th 退勤時間
    %th 休憩開始時間
    %th 休憩終了時間
  - @status.each do |t|
    - if working_status(t) == '勤務中'
      %tr
        %td= t.user.name
        %td= working_status(t)
        %td= time_str(t.worked_in_at)
        %td= time_str(t.worked_out_at)
        %td= time_str(t.breaked_in_at)
        %td= time_str(t.breaked_out_at)
  - @status.each do |t|
    - if working_status(t) == '休憩中'
      %tr
        %td= t.user.name
        %td= working_status(t)
        %td= time_str(t.worked_in_at)
        %td= time_str(t.worked_out_at)
        %td= time_str(t.breaked_in_at)
        %td= time_str(t.breaked_out_at)
  - @status.each do |t|
    - if working_status(t) == '退社済'
      %tr
        %td= t.user.name
        %td= working_status(t)
        %td= time_str(t.worked_in_at)
        %td= time_str(t.worked_out_at)
        %td= time_str(t.breaked_in_at)
        %td= time_str(t.breaked_out_at)