%h1.text-center.mt-5.col-12 所属詳細情報
.container.mb-3.text-center
  .row
    .col-md-12.mx-auto
      ="所属：#{@affiliation.name}"
    .col-md-12.mx-auto
      ="所属人数：#{@affiliation.user_ids.count}"
.container
  %canvas#myChart{:height => "500", :width => "900"}
  :javascript
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: #{@chart_days.to_json.html_safe},
            datasets: [{
                label: "総残業時間",
                data: #{@times},
                backgroundColor: 'rgba(255, 99, 132, 1.0)',
                borderColor: 'rgba(255, 50, 132, 1.0)',
                fill: true
            }]
        },
        options: {
            title:  {
              display: false,
              text: "タイトル"
            },
            scales: {
              yAxes: [{
                ticks: {
                  suggestedMax: 30,
                  suggestedMin: 0,
                  stepSize: 5,
                  callback: function(value, index, values){
                    return value + 'h'
                  }
                }
              }]
            },
        }
    });
  %p.text-center= link_to '一覧へ戻る', affiliations_path
