%h1.text-center.mt-5 全タイムカードデータ一覧
%table.table.table-bordered.table-condensed.text-center
  %thead.bg-dark.text-white
    %tr
      %th 年
      %th 月
      %th 日
      %th 出勤時間
      %th 退勤時間
      %th 休憩開始時間
      %th 休憩終了時間
      %th 実働時間
      %th 残業時間
      %th ユーザー名
      %th 編集
      %th 削除
  %tbody
  - @time_cards.each do |t|
    %tr
      %td= t.year
      %td= t.month
      %td= t.day
      %th= time_str(t.worked_in_at)
      %th= time_str(t.worked_out_at)
      %th= time_str(t.breaked_in_at)
      %th= time_str(t.breaked_out_at)
      %td= "#{int_to_hour(t.worked_time)-int_to_hour(t.breaked_time)}:#{int_to_time(int_to_minutes(t.worked_time) - int_to_minutes(t.breaked_time))}"
      %td= "#{int_to_hour(t.overtime)}:#{int_to_time(int_to_minutes(t.overtime))}"
      %th= t.user.name
      %th= link_to '編集', edit_time_card_path(t)
      %th= link_to '削除', t, method: :delete, data: { confirm: t('.delete_confirm') }

= paginate @time_cards