%h1.text-center.mt-5.mb-3.col-12="#{@year}年 #{@month}月の勤怠状況"

.container.mb-4
  = form_with(url:sort_time_cards_path, method: :get, local: true, class: "form-inline text-center justify-content-center") do |f|
    .row.mb-2
      = f.collection_select :year, year_select, :year, :year, { prompt: "年" }, { class: "form-control text-center col mr-2" }
      = f.select :month, [1,2,3,4,5,6,7,8,9,10,11,12], { prompt: "月" }, { class: "form-control text-center col mr-2" }
      = f.submit "検索", {class: "btn btn-primary"}

%table.table.table-bordered.table-condensed.text-center
  %thead.bg-dark.text-white
    %tr
      %th 月日
      %th 曜日
      %th 出勤時間
      %th 退勤時間
      %th 休憩開始時間
      %th 休憩終了時間
      %th 実働時間
      %th 残業時間
  %tbody
  - each_date_in_month(@year, @month) do |date, index|
    %tr
      %td= date_in_japanese(date, :month_day)
      %td= day_of_the_week_in_japanese(date, :short)
      - if @time_cards[index]
        %td= time_str(@time_cards[index].worked_in_at)
        %td= time_str(@time_cards[index].worked_out_at)
        %td= time_str(@time_cards[index].breaked_in_at)
        %td= time_str(@time_cards[index].breaked_out_at)
        -if @time_cards[index].worked_out_at.present?
          - min = (@time_cards[index].worked_time)
          -if min < 0
            %td= "00:00"
            %td= "00:00"
          -elsif min >= 0 && min < 3600
            %td= "00:#{int_to_time(@time_cards[index].worked_time)}"
            %td= "00:00"
          -else
            %td= "#{int_to_hour(@time_cards[index].worked_time)}:#{int_to_time(@time_cards[index].worked_time)}"
            %td= "#{int_to_hour(@time_cards[index].overtime)}:#{int_to_time(@time_cards[index].overtime)}"
        -else
          %td
          %td
      -else
        %td
        %td
        %td
        %td
        %td
        %td