%h1.text-center.mt-5.col-12 今月の勤怠状況
%h2.text-center.col-12="#{@year}年 #{@month}月"
%table.table.table-bordered.table-condensed.text-center
  %thead.bg-dark.text-white
    %tr
      %th 月日
      %th 曜日
      %th 出勤時間
      %th 退勤時間
      %th 休憩開始時間
      %th 休憩終了時間
      %th 実働時間
      %th 残業時間
  %tbody
  - each_date_in_month(@year, @month) do |date, index|
    %tr
      %td= date_in_japanese(date, :month_day)
      %td= day_of_the_week_in_japanese(date, :short)
      - if @time_cards[index]
        %td= time_str(@time_cards[index].worked_in_at)
        %td= time_str(@time_cards[index].worked_out_at)
        %td= time_str(@time_cards[index].breaked_in_at)
        %td= time_str(@time_cards[index].breaked_out_at)
        %td= "#{int_to_hour(@time_cards[index].worked_time)-int_to_hour(@time_cards[index].breaked_time)}:#{int_to_time(int_to_minutes(@time_cards[index].worked_time) - int_to_minutes(@time_cards[index].breaked_time))}"
        %td= "#{int_to_hour(@time_cards[index].overtime)}:#{int_to_time(int_to_minutes(@time_cards[index].overtime))}"

      -else
        %td
        %td
        %td
        %td
        %td
        %td