%h1 #{@year}年 #{@month}月　勤務表
%table.table.table-bordered.table-condensed
  %thead
    %tr
      %th 月日
      %th 曜日
      %th 出勤時間
      %th 退勤時間
      %th 休憩開始時間
      %th 休憩終了時間
      %th 実働時間
      %th 残業時間
  %tbody
  - each_date_in_month(@year, @month) do |date, index|
    %tr
      %td= date_in_japanese(date, :month_day)
      %td= day_of_the_week_in_japanese(date, :short)
      - if @time_cards[index]
        %td= time_str(@time_cards[index].worked_in_at)
        %td= time_str(@time_cards[index].worked_out_at)
        %td= time_str(@time_cards[index].breaked_in_at)
        %td= time_str(@time_cards[index].breaked_out_at)
        %td= time_count(@time_cards[index].worked_time)
        %td= time_count(@time_cards[index].overtime - 32400)
      -else
        %td
        %td
        %td
        %td
        %td
        %td