%h1 #{@time_cards.first.year}年 #{@time_cards.first.month}月　勤務表
%table
  %thead
    %tr
      %th
        日
      %th
        出勤時間
      %th
        退勤時間
      %th
        休憩開始時間
      %th
        休憩終了時間
      %th
        実働時間
      %th
        残業時間
      %th
        ユーザー
  %tbody
  - @time_cards.each do |t|
    - if t.worked_out_at.present? && t.breaked_out_at.present?
      - worked_time = t.worked_out_at - t.worked_in_at
      - breaked_time = t.breaked_out_at - t.breaked_in_at
      - result_time = worked_time - breaked_time
    %tr
      %td
        = t.day
      %td
        = t.worked_in_at.strftime('%H:%M')
      %td
        - if t.worked_out_at.present?
          = t.worked_out_at.strftime('%H:%M')
      %td
        - if t.breaked_in_at.present?
          = t.breaked_in_at.strftime('%H:%M')
      %td
        - if t.breaked_out_at.present?
          = t.breaked_out_at.strftime('%H:%M')
      %td
        - if t.worked_out_at.present? && t.breaked_out_at.present?
          = Time.at(result_time).strftime('%H:%M')
      %td
        = t.user.name



