%h1.text-center.mt-5.col-12 出退勤時間登録
%h2.text-center.mt-2.col-12="#{@year}年 #{@month}月 #{@day}日"

.container
  .row.justify-content-around
    .col-12.text-center
      現在状況
      %span#work-status= working_status(@time_card)
    .col-12
      = render 'form'